color = #111111
bgcolor = #bbbbbb

darkgray1 = #212121
darkgray2 = #313131
darkgray3 = #353535

lightgray1 = #b1b1b1
lightgray2 = #c1c1c1
lightgray3 = #d1d1d1

btngray1 = #e1e1e1
btngray2 = #d1d1d1
btngray3 = #a1a1a1

//epcolors
burple = #603F7C
green = #3B9646
orange = #FF8734
red = #DF0012