// Set the width of the grid in %
// Set the minwidth of the grid in px

gridWidth = 80%  
minWidth = 960px 

// Apply the grid() Mixin to any container element in your CSS.
// Or
// Create a parent div using the .grid convenience class.

grid()
  position relative
  width gridWidth
  min-width minWidth
  margin 0 auto 
  overflow hidden

.grid
  grid()

body 
  min-width minWidth
  width 100%
  height 100%  

header
footer
feildset
section
.section 
  position relative
  display block  
  float left
  width 100%
  height 100%
  margin 0 
  padding 0
  clear both
    
column()
  position relative 
  float left
  display block
  height 100%
  margin 0
  padding 0

// Custom Column Widths

grid_custom(width) // You can also choose an arbitray percentage width for your column but, REMEMBER: Your columns must add up to 100%.
  column()
  width width

// Use these Mixins with your semantic ids & classes to create 
// a grid without any additional classes in your HTML.
// ** Remember ** These columns must be within a section element.

grid_10()  // 96px - Maximum container Width at min-width 960px
  column()
  width 10%
grid_20()  // 192px - Maximum container Width at min-width 960px
  column()
  width 20%
grid_25()  // 240px - Maximum container Width at min-width 960px
  column()
  width 25%
grid_30()  // 288px - Maximum container Width at min-width 960px
  column()
  width 30%
grid_33()  // 319px - Maximum container Width at min-width 960px
  column()
  width 33.3%
grid_40()  // 384px - Maximum container Width at min-width 960px
  column()
  width 40%
grid_50()  // 480px - Maximum container Width at min-width 960px
  column()
  width 50%
grid_60()  // 576px - Maximum container Width at min-width 960px
  column()
  width 60%
grid_70()  // 672px - Maximum container Width at min-width 960px
  column()
  width 70%
grid_75()  // 720px - Maximum container Width at min-width 960px
  column()
  width 75%
grid_80()  // 768px - Maximum container Width at min-width 960px
  column()
  width 80%
grid_90()  // 864px - Maximum container Width at min-width 960px
  column()
  width 90%
grid_100()  // 960px - Maximum container Width at min-width 960px
  column()
  width 100% 

// You can also use these convenience classes in your HTML to quickly build a grid without worrying about semantics.

.grid_10 
  grid_10() 
.grid_20 
  grid_20() 
.grid_25 
  grid_25() 
.grid_30 
  grid_30() 
.grid_33 
  grid_33() 
.grid_40 
  grid_40() 
.grid_50 
  grid_50() 
.grid_60 
  grid_60() 
.grid_70 
  grid_70() 
.grid_75 
  grid_75() 
.grid_80 
  grid_80() 
.grid_90 
  grid_90() 
.grid_100
  grid_100()
