// Colors
base-color = #111111 unless base-color is defined

darker-color1 = lighten(base-color, 10%)
darker-color2 = lighten(base-color, 20%)
darker-color3 = lighten(base-color, 30%)

lighter-color1 = lighten(base-color, 48%)
lighter-color2 = lighten(base-color, 68%)
lighter-color3 = lighten(base-color, 88%)
