@import "vendorize"
@import "gradients"

// Opacity

opacity()
  vendorize "opacity", arguments

// Border Radius

border-radius()
  vendorize "border-radius", arguments

// Box Shadow

box-shadow()
  vendorize "box-shadow", arguments

// Border Image

border-image()
  vendorize "border-image", arguments

// Background Size

background-size()
  vendorize "background-size", arguments

// Background Origin

background-origin()
  vendorize "background-origin", arguments

background-clip()
  vendorize "background-clip", arguments

// Transforms 2D & 3D

transform()
  vendorize "transform", arguments

transform-origin()
  vendorize "transform-origin", arguments

backface-visibilty()
  vendorize "backface-visibilty", arguments

perspective()
  vendorize "perspective", arguments

// Animations @keyframe support is part of Stylus

animation()
  vendorize "animation", arguments

animation-name()
  vendorize "animation-name", arguments

animation-duration()
  vendorize "animation-duration", arguments

animation-timing-function()
  vendorize "animation-timing-function", arguments

animation-delay()
  vendorize "animation-delay", arguments

animation-iteration-count()
  vendorize "animation-iteration-count", arguments

animation-direction()
  vendorize "animation-direction", arguments

animation-play-state()
  vendorize "animation-play-state" arguments

animation-fill-mode()
  vendorize "animation-fill-mode", arguments

// Transitions

transition()
  vendorize "transition", arguments

// Multi-Column Text

columns()
  vendorize "columns", arguments

column-count()
  vendorize "column-count", arguments

column-gap()
  vendorize "column-gap", arguments

column-rule()
  vendorize "column-rule", arguments

// CSS3 UI Properties

appearance()
  vendorize "appearance", arguments

box-sizing()
  vendorize "box-sizing", arguments

filter()
  vendorize "filter", arguments

// Text Selection
user-select()
  vendorize "user-select", arguments
