//
// Forms
// --------------------------------------------------
// Restyle and baseline non-control form elements.
form
  clearfix()

fieldset
  padding (base-font-size * 2) 0 0 0 !important
  border 0
  margin-bottom 1em

legend
  display block
  width 100%
  height base-font-size * 2.4
  padding 0
  margin 0
  font-size base-font-size * 1.2
  line-height base-line-height * 2
  border 0

label
  line-height base-line-height
  padding-top (base-line-height / 3)
  padding-bottom (base-line-height / 3)
  padding-right (base-line-height / 2)
  box-sizing border-box

// Form controls
// -------------------------
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="time"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"]
  outline none
  box-sizing border-box
  margin 0.4em 0.5em
  border 1px solid #ccc

input[type="time"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"]
  padding 0.2em 0.3em

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="number"]
  padding 0.4em 0.5em

textarea
  outline none
  border 1px solid #ccc
  padding 0.4em 0.5em
  margin 0.4em 0.5em
  min-height base-line-height * 6

input[type="number"]
  width 9em

input[type="submit"],
button
  outline none
  margin 0.4em 0.5em
  padding 0.7em 0.8em 0.6em 0.8em
  border none
  &:hover,
  &:active,
  &:visited,
  &:focus
    outline none

output
  display block
  margin 0
  padding 0

select
  outline none
  padding 0.5em 0.5em

// CHECKBOXES & RADIOS
// -------------------
input[type="radio"],
input[type="checkbox"]
  position relative
  margin (base-line-height / 2.95) 1em (base-line-height / 3) 0
  appearance none
  outline none
  padding 0.6em
  &:checked
    appearance none
    outline none

input[type="radio"]
  border-radius 50%

input[type="checkbox"]
  border-radius 0px

input[type="checkbox"]:checked
  border-radius 3px

// DISABLED STATE
// --------------
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly]
  cursor not-allowed
  background-color rgb(238,238,238)

// Explicitly reset the colors here
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly]
  background-color transparent

// HTML5 invalid states
// Shares styles with the .control-group.error above
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid
  border-color #ee5f5b
  &:focus
    border-color darken(#ee5f5b, 10%)
    box-shadow 0 0 6px lighten(#ee5f5b, 20%)

