grid-width = 100% unless grid-width is defined
grid-min-width = 960px unless grid-min-width is defined

grid(width = grid-width, min-width = grid-min-width)
  position relative
  margin 0 auto
  overflow hidden
  width width
  min-width min-width

grid-space(width)
  display block
  position relative
  float left
  width width
  height 100%
  margin 0
  padding 0
  box-sizing border-box

section()
  display block
  position relative
  float left
  width 100%
  height auto
  margin 0
  padding 0
  clear both
  &:after
    content ''
    display table

section
  section()

center-space()
  float none
  margin 0 auto
