body
  font-size 100%
  line-height 1.8em
  font-family "Helvetica Neue", Helvetica, Verdana, Arial

p
  margin 1.8em
  line-height 1.2em

h1, h2, h3, h4, h5, h6
  margin .625em 24px
h1
  font-size 1.8em
h2
  font-size 1.6em
h3 
  font-size 1.4em
h4
  font-size 1.2em
h5 
  font-size 1em
h6
  font-size .8em
  font-weight 500
  text-transform uppercase

b
strong
  font-weight bold

i
em
  font-style italic
  letter-spacing 0.065em

address
  display block
  margin 1.5em
  line-height 1.3em

pre
code
  display block
  margin 1em
  border-radius 5px
  padding 1em
  background-color lightgray3
  white-space pre-wrap 
  white-space -moz-pre-wrap
  white-space -pre-wrap
  white-space -o-pre-wrap
  word-wrap none
  font-size .875em
  font-family "Courier New", Courier, monospace, sans-serif
  overflow auto

// Mixins for Small, Medium, Large, and XLarge Font-sizes

small()
  font-size 0.8em

medium()
  font-size 1em

large()
  font-size 1.2em      

xlarge()
  font-size 1.4em
